@mixin pointer-hover {
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  min-width: 500px;
  justify-content: space-around;
  margin: 32px 0px;
}

@mixin chevron {
  @include pointer-hover();
  width: 20px;
  height: 20px;
  border-top: 3px solid #62d9d3;
  border-right: 3px solid #62d9d3;
  transition: ease-in-out 0.4s;
  will-change: transform;
}

.chevronLeft {
  @include chevron();
  transform: rotate(225deg);
}

.chevronRight {
  @include chevron();
  transform: rotate(45deg);
}
.chevronCircle {
  border-radius: 50%;
  border: 3px solid #62d9d3;
  width: 40px;
  height: 40px;
}

.itemImage {
  @include pointer-hover();
  height: auto;
  width: auto;
  // max-height: 300px;
  max-width: 150px;
}
.itemTitle {
  @include pointer-hover();
  max-width: 200px;
}
