.addToCartBtn {
  color: white;
  background-color: #62d9d3;
  border-radius: 5px;
  border: none;
  font-size: medium;
  padding: 10px 30px;
  cursor: pointer;
}
.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --star-size: 40px;
  --star-color: #fff;
  --star-background: #fc0;
}
.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  background-color: whitesmoke;
  border-radius: 5px;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
