.productsContainer {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.productsList {
  width: 50%;
}

.productDetail {
  width: 50%;
  position: sticky;
  border: 1px solid #ccc;
  border-left: none;
  height: 100vh;
  top: 0;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 7px;
}

// override in media query
.backButton {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border: 0.5em solid #62d9d3;
  border-radius: 50%;
  transition: ease-in-out 0.4s;
  background-color: #62d9d3;
}
.backButton:after {
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
  margin-top: 0.5em;
  margin-left: 0.3em;
  margin-right: 0.1em;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

// for mobile
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .showDetails .productsList {
    display: none;
  }
  .showDetails .productDetail {
    width: 100%;
  }
  .backButton {
    display: block;
  }
  .productsList {
    width: 100%;
  }
  .productDetail {
    border-left: 1px solid #ccc;
  }
}
