@mixin pointer-hover {
  cursor: pointer;
}
@mixin chevron-close-after {
  @include pointer-hover();
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.5em solid #62d9d3;
  border-right: 0.5em solid #62d9d3;
}
@mixin chevron-close {
  @include pointer-hover();
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.5em solid #62d9d3;
  border-radius: 50%;
  // margin-right: 1.5em;
  transition: ease-in-out 0.4s;
  will-change: transform;
}
@mixin chevron-open {
  @include pointer-hover();
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.5em solid #62d9d3;
  border-radius: 50%;
  // margin-right: 1.5em;
  transition: ease-in-out 0.4s;
  background-color: #62d9d3;
  will-change: transform;
}
@mixin chevron-open-after {
  @include pointer-hover();
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
}
.item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  // background: #aaa4;
}
.item.selected {
  background: #fafafa;
  border-right: none;
  position: sticky;
  top: 0;
}
.imageAndDescription {
  display: block;
}

.chevronOpen {
  @include chevron-open();
}

.chevronOpen:after {
  @include chevron-open-after();
  margin-top: 0.4em;
  margin-left: 0.3em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chevronClose {
  @include chevron-close();
  margin-right: 1.5em;
  transform: rotate(225deg);
}
.chevronClose:after {
  @include chevron-close-after();
  margin-top: 0.5em;
  margin-left: 0.3em;
  margin-right: 1em;
}

.itemImage {
  @include pointer-hover();
  height: auto;
  width: auto;
  // max-height: 300px;
  max-width: 150px;
}
.itemTitle {
  @include pointer-hover();
  max-width: 200px;
  text-align: center;
}

@media only screen and (max-width: 549px) {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .itemTitle {
    @include pointer-hover();
    max-width: 200px;
    text-align: center;
  }
  .chevronOpen {
    @include chevron-open();
  }
  .chevronOpen:after {
    @include chevron-open-after();
    margin-left: 1em;
    -moz-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  .chevronClose {
    @include chevron-close();
    margin-right: 0.1em;
    transform: rotate(-45deg);
  }
  .chevronClose:after {
    @include chevron-close-after();
    margin-left: 1em;
  }
}
// @media only screen and (min-width: 550px) and (max-width: 1089px) {
//   .item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex: 1;
//   }
// }
