@mixin chevron-close-after {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.5em solid #62d9d3;
  border-right: 0.5em solid #62d9d3;
}
@mixin chevron-close {
  cursor: pointer;
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.5em solid #62d9d3;
  border-radius: 50%;
  transition: ease-in-out 0.4s;
  will-change: transform;
}

@mixin chevron-open-after {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
}
.item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;
}
.item.selected {
  background: #fafafa;
  border-right: none;
  position: sticky;
  top: 0;
  z-index: 2;
}
.imageAndDescription {
  display: block;
  margin-left: 2rem;
}

.chevronOpen {
  cursor: pointer;
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.5em solid #62d9d3;
  border-radius: 50%;
  transition: ease-in-out 0.4s;
  background-color: #62d9d3;
  will-change: transform;
}

.chevronOpen:after {
  @include chevron-open-after();
  margin-top: 0.4em;
  margin-left: 0.3em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chevronClose {
  @include chevron-close();
  transform: rotate(225deg);
}
.chevronClose:after {
  @include chevron-close-after();
  margin-top: 0.5em;
  margin-left: 0.3em;
  margin-right: 1em;
}

.itemImage {
  cursor: pointer;
  height: auto;
  width: auto;
  max-width: 150px;
}
.itemTitle {
  cursor: pointer;
  max-width: 200px;
  text-align: center;
}

// for mobile
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .chevronClose {
    transform: rotate(45deg);
  }
}
