@mixin pointer-hover {
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  max-width: 500px;
  justify-content: space-around;
  margin: 32px 0px;
}
.chevron {
  @include pointer-hover();
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}
.chevron::after {
  content: '';
  @include pointer-hover();
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 7px;
  top: 6px;
}
.itemImage {
  @include pointer-hover();
  height: auto;
  width: auto;
  max-height: 300px;
}
.itemTitle {
  @include pointer-hover();
  max-width: 200px;
}
